.formContent {
  margin: 0 20px;
  width: 600px;
}

.formItem {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.formLabel {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}

.formRequired {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}

.formRequired:before {
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}

.formWidth {
  width: 350px;
}

.formError {
  margin-left: 10px;
}

.submitButton {
  margin-left: 85px;
}

.addonAfterMargin{
  margin-left: 5px;
}
