<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--log configuration-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--site log configuraiton-->
  <log4net>
    <root>
      <!-- Level: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <priority value="ALL" />
      <!--文件形式记录日志-->
      <appender-ref ref="RollingFileAppender" />
      <!--控制台控制显示日志-->
      <!--appender-ref ref="ConsoleAppender"/-->
      <!--输出到页面的Trace上下文环境-->
      <!--appender-ref ref="AspNetTraceAppender"/-->
    </root>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %message%newline" />
      </layout>
    </appender>
    <appender name="BufferingForwardingAppender" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="5" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN" />
      </evaluator>
      <appender-ref ref="ConsoleAppender" />
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd&quot;_log.log&quot;" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %message%newline" />
      </layout>
    </appender>
    <!--appender name ="AspNetTraceAppender" type ="log4net.Appender.AspNetTraceAppender">
     <layout type ="log4net.Layout.PatternLayout">
         <conversionPattern  value ="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
     </layout>
    </appender-->
  </log4net>
</configuration>